.container-empty{
    align-self: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emptyIcon{
    width: 100px;
    height: 100px;
}